
/**************************************
 * Form Styles
 **************************************/
.event_manager_instructions {
  font-size: 10pt;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  margin: 3px 3px 3px -3px;
  padding: 3px;
}

.event_registration_status {
  font-size: 10pt;
  margin: 5px 3px 0px 0px;
  padding: 0px;
}

#event_manager_register_button {
  width: 100%;
  text-align: left;
  padding: 5px 5px 5px 20px;
 }

#event_manager_register_button input { 
  background-color: #ff4617;
  white-space: normal;
  color: #ffffff;
  font-style: bold;
  font-size: 12pt;
  height: 60px;
  width:  200px;
  padding: 10px;
}

.event_dates_table {
 width: 99%;
 border: none;
 padding: 0px;
 margin: 0px;
 line-height: 100%;
 }

.event_dates_table th {
 width: 100px;
 font-weight: bold;
 border: none;
 padding: 0px;
 margin: 0px;
 }

/**************************************
 * Admin Page Styles
 **************************************/
#edit-event-manager-default-email-confirm-text {
  width: 400px;
  }
 
#edit-email-confirm-text {
 width: 550px;
 height: 400px;
 }
 
#edit-email-cancel-text {
 width: 550px;
 height: 400px;
 }


/**************************************
 * Report Styles
 **************************************/
 
.event_manager_registration_report table{
  xborder: 1px solid #000000;
  border-collapse: collapse;
  border-spacing: 0;
  width: 98%; /* Setting at 100% causes problem in Internet Explorer. */
  margin-bottom: 2em;
}

.event_manager_registration_report tr {
  padding: 0;
  margin: 0;
  background: white;
}
.event_manager_registration_report th {
  color: #999;
  font-weight: normal;
  text-align: left;
  border: none;
  margin: 0px;
  padding: 0px 0px 0px 5px;
  }

.event_manager_registration_report th.title {
  color: #000;
  font-size: x-large;
  padding: 5px 0px 0px 0px;
  }

.event_manager_registration_report th.description {
  padding: 5px 0px 5px 5px;
}
  
.event_manager_registration_report th.heading {
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
  background-color: #bbb;
  padding-left: 3px;
  padding-right: 3px;
}
  
.event_manager_registration_report td {
  border: 1px solid #bbb;
  color: #000;
  text-align: left;
  vertical-align: top;
  margin: 0;
  padding: 0px 3px 0px 3px;
}

.event_manager_registration_report td.first{
  border-top: 3px solid #000;
  }
  
.event_manager_registration_report td.last{
  border-bottom: 3px solid #000;
}

td.event_manager_report_field_conf_code_blind_l{
  text-align: left;
  }
  
td.event_manager_report_field_time  {
  width: 18%;
  }
  


  
  
/**************************************
 * Admin Form
 **************************************/

#edit-event-manager-default-max-participants {
 width: 40px;
 }
 
 #edit-event-manager-default-tslot-length{
 width: 40px;
 }
 
 #edit-event-manager-conf-code-length {
 width: 40px;
 }


/**************************************
 * Setup Form
 **************************************/
 
#edit-max-participants {
 width: 40px;
 }
 
#edit-ts-len {
 width: 40px;
 }
 
 #roles {
  width: 500px;
  }
 
 #roles .jtable-colhead {
  font-size: 10pt;
  }
  
 .event_blurb{
  margin-top: 6px;
  margin-bottom: 12px;
  }